<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fad9d">  <td>19/02/24 18:35:08</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:Testing_001@370736d9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/02/24 18:35:09</td>   <td>418</td> <td>&nbsp;</td><td title="&gt;&gt;Testing_001.setData()[pri:0, instance:Testing_001@370736d9]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/02/24 18:35:09</td>   <td>418</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:Testing_001@370736d9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/02/24 18:35:09</td>   <td>434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:Testing_001@370736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/02/24 18:35:14</td>   <td>6058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testing_001.createlead()[pri:0, instance:Testing_001@370736d9]">createlead</td> 
  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/02/24 18:35:28</td>   <td>19667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:Testing_001@370736d9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/02/24 18:35:30</td>   <td>21844</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:Testing_001@370736d9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
</table>
